.NameImgAlmaty {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://static.vecteezy.com/system/resources/previews/048/512/767/non_2x/an-expansive-view-of-almaty-s-cityscape-at-dusk-with-vibrant-lights-and-mountains-visible-free-photo.jpg");
}

.NameImgAqmola {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://i.pinimg.com/originals/ba/fb/8e/bafb8e3f7f8122b232603299906e6c22.jpg");
}

.NameImgAqtobe {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://a.d-cd.net/HuXy7lh4GIgu2krW-sB06Fnxr6E-1920.jpg");
}

.NameImgAtyrau {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://e-history.kz/storage/tmp/resize/seo_materials/1200_0_978157fde6f5067f98f308a989f2b42f.jpg");
}

.NameImgEastKazakhstan {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://avatars.mds.yandex.net/i?id=37a6f3e15797f719861a7ba36fa1c0e7_l-4472919-images-thumbs&n=13");
}

.NameImgMangghystau {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://rus.azattyq-ruhy.kz/cache/imagine/1200/uploads/news/2022/02/02/61f9f4d0f3e9f785645369.jpg");
}

.NameImgNorthKazakhstan {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://i.pinimg.com/736x/ae/fe/e8/aefee80fd55ed69ac4fc6a882834f33c.jpg");
}

.NameImgPavlodar {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://oq.gov.kz/img/erulik/2022/09/28/1265a692dd782d51e8ab95516f33cd961a74754d.jpg");
}

.NameImgQaraghandy {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://informburo.kz/storage/photos/157/main/vgprtKB8pn0jtWtMiL6evGbsVDnDCZWMiyFTTmnU.jpg");
}

.NameImgQostanay {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://orda.kz/uploads/sites/2/2023/06/kostanaj-1440x810.jpg");
}

.NameImgQyzylorda {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://wildticketasia.com/uploads/posts/2023-02/1676647178_kyzylorda-city-11.jpg");
}

.NameImgSouthKazakhstan {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://titus.kz/load_theme/files/2014070809225253bb640c65eae.jpg");
}

.NameImgWestKazakhstan {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://media.istockphoto.com/id/1199612130/ru/фото/снежные-горы-в-южном-регионе-республики-казахстан-природный-заповедник-аксу-джабагли.jpg?s=612x612&w=0&k=20&c=7-_zdVYxAzrnJPtRqK_5CFEVPzMnqzsBUPhgP_AcyHk=");
}

.NameImgZhambyl {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://avatars.mds.yandex.net/i?id=e91daaa9cbf37185fc6cf0be24aaec07_l-5258428-images-thumbs&n=13");
}
.NameImgJetisu {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://www.ar.egemen.kz/media/2023/06/09/4802dfdb-f5dc-474a-af1d-93b8cdf4475a.jpeg");
}
.NameImgAbay {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://cdn.nur.kz/images/1200x675/af552d51a655aed9.jpeg?version=1");
}
.NameImgUlytau {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 100%),
    url("https://primeminister.kz/assets/media/img-4590.jpg");
}

.NameImgAlmaty,
.NameImgJetisu,
.NameImgAbay,
.NameImgUlytau,
.NameImgAlmaty,
.NameImgAqmola,
.NameImgAqtobe,
.NameImgAtyrau,
.NameImgEastKazakhstan,
.NameImgMangghystau,
.NameImgNorthKazakhstan,
.NameImgPavlodar,
.NameImgQaraghandy,
.NameImgQostanay,
.NameImgQyzylorda,
.NameImgSouthKazakhstan,
.NameImgWestKazakhstan,
.NameImgZhambyl {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #ff7e5f;
}
.RegName {
  color: white;
  font-size: 40px;
  font-family: "Cinzel", serif;
  margin-left: 20px;
}
.rtnBtn {
  margin-top: 10px;
  margin-left: 10px;
  background: #cd9f767b;
  border: 1px black solid;
  border-radius: 15px;
  transition: 0.5s all;
  height: 25px;
  width: 90px;
  font-weight: 400;
  font-size: 14px;
}
.rtnBtn:hover {
  background: #cd9f76;
  height: 30px;
  width: 100px;
  font-weight: 600;
  font-size: 16px;
}
